root = true

[*]
end_of_line = lf
insert_final_newline = true

[.env]
end_of_line = unset
insert_final_newline = false

[*.{js,jsx,ts,tsx}]
charset = utf-8
indent_style = space
indent_size = 2

[{package.json,.travis.yml}]
charset = utf-8
indent_style = space
indent_size = 2
